{
  "ca-prefix": "/example",
  "issuing-freshness": "720",
  "validity-period": "360",
  "ca-info": "An example NDNCERT CA",
  "probe-parameters":
  [
    {"probe-parameter-key": "email"},
    {"probe-parameter-key": "uid"}
  ]
  "supported-challenges":
  [
    { "challenge": "pin" },
    { "challenge": "email" }
  ]
}
