[ndncert_smtp_settings]
SMTP_SERVER = localhost or remote smtp server
SMTP_PORT = port number, usually one from 25 465 587
ENCRYPT_MODE = select one from ssl/tls/none
SMTP_USER = leave it empty if you do not have one
SMTP_PASSWORD = leave it empty if you do not have one

[ndncert_email_settings]
MAIL_FROM = NDN Testbed Certificate Robot <noreply-ndncert@named-data.net>
SUBJECT = Email Challenge Triggered by NDNCERT
TEXT_TEMPLATE = Your PIN code: {0} from NDNCERT CA {1}. Please keep it secret and type in to your application to finish the certificiate issuance process. If you do not know what is going on, please ignore the message.
HTML_TEMPLATE = <html><head></head><body><p><b>Your PIN code: {0} from NDNCERT CA {1}</b></p><p>Please keep it secret and type in to your application to finish the certificiate issuance process. If you do not know what is going on, please ignore the message.</p><p>Sincerely,<br/>NDN Testbed NDNCERT robot</p>