[ndncert.smtp]
SMTP_SERVER = localhost or remote smtp server
SMTP_PORT = port number, usually one from 25 465 587
ENCRYPT_MODE = select one from ssl/tls/none
SMTP_USER = leave it empty if you do not have one
SMTP_PASSWORD = leave it empty if you do not have one

[ndncert.email]
MAIL_FROM = NDN Testbed Certificate Robot <noreply-ndncert@named-data.net>
SUBJECT = Email Challenge Triggered by NDNCERT
TEXT_TEMPLATE = Your PIN code: {0} from NDNCERT CA {1}. Certificate Name: {2}. Your email has been used to apply for a digital certificate from NDNCERT. Please keep it secret and type it in your application to complete the certificate issuance process. If you do not know what is going on, please ignore this message.
HTML_TEMPLATE = <html><head></head><body><p><b>Your PIN code: {0} from NDNCERT CA {1}. Certificate Name: {2}.</b></p><p>Your email has been used to apply for a digital certificate from NDNCERT. Please keep it secret and type it in your application to complete the certificate issuance process. If you do not know what is going on, please ignore this message.</p><p>Sincerely,<br/>NDN Testbed NDNCERT robot</p>
